.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tableSection {
  display: flex;
  justify-content: space-between;
}

.title {
  color: var(--color-heading);
}

.depthLevel {
  background-repeat: no-repeat; /* dont change */
  background-position: right;
}

.bid {
  background: linear-gradient(var(--color-bid), var(--color-bid));
}

.ask {
  background: linear-gradient(
    var(--color-ask-depth-level),
    var(--color-ask-depth-level)
  );
}

.spread-middle {
  display: none;
}

@media only screen and (max-width: 600px) {
  .tableSection {
    flex-direction: column-reverse;
  }
}
