.depthLevel {
  background: linear-gradient(
    var(--color-ask-depth-level),
    var(--color-ask-depth-level)
  );
  background-repeat: no-repeat;
  background-position: left;
}

.tableBody {
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .tableBody {
    flex-direction: column-reverse;
  }
}
