.root {
  --color-grid: grey;
  display: flex;
  border-spacing: 0;
  border-top: 1px solid var(--color-grid);
  overflow: auto;
  width: 100%;
  flex-direction: column;
}

.thead {
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
  text-align: center;
  display: flex;
  color: var(--color-heading);
}

.tr {
  border: none;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  min-height: 25px;
  display: flex;
}

.bodyRow {
  border-top: 1px solid var(--color-grid);
}

.td {
  border: none;
  min-height: 20px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100px;
  color: var(--color-text);
}

.th {
  background-color: inherit;
  border: none;
  color: inherit;
  min-height: 20px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
  width: 100px;
}
