.table-root {
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px solid black;
  overflow: auto;
  width: 100%;
}

.thead {
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
  text-align: center;
  color: grey;
}

.tr {
  background-color: inherit;
  border: none;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
}

.td {
  border: none;
  min-height: 20px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100px;
}

.th {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid black;
  color: inherit;
  min-height: 20px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
  width: 100px;
}
