body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color-bg: #0a0c10;
  --color-text: #fff;
  --color-text-error: #e32b16;
  --color-bg-error: #ffe3e0;
  --color-heading: grey;
  --color-bid: rgb(0, 216, 101);
  --color-bid-depth-level: rgb(0, 216, 101, 0.3);
  --color-ask: rgb(235, 63, 52);
  --color-ask-depth-level: rgb(235, 63, 52, 0.3);
}
